form.add-scrap {
  margin: 30px 5px;
}

div.scrap {
  position: relative;
  margin: 10px 5px;
  padding: 10px 10px 5px 10px;
  border: 1px solid lightgray;

  h4.card-title {
    font-size: 0.8em;
    font-weight: 400;
    margin-bottom: .5rem;
  }

  button.edit {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
  }

  &:hover > button.edit {
    display: block;
  }
}
